<a href="https://colab.research.google.com/github/lsy1127/bioinfomatics/blob/main/8_11(%EA%B8%88)_%ED%8C%8C%EC%9D%B4%EC%8D%AC_5%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [복습문제] 리스트 사용하기

In [4]:
idols= ['A','B','C','D']
scores= [ ]

for idol in idols:
    score=float(input(f"'{idol}'의 성적은?: "))
    scores.append(score) # 리스트에 요소 추가

print('-'*50)
print('아이돌 성적 결과:')
print('-'*50)

for idx, idol in enumerate(idols):
    if scores[idx]>=80:
        result='수료'
    else:
        result='미수료'

    print(f"'{idol}의 성적은 {scores[idx]}, 아이돌 성적 결과:{result}'" )

'A'의 성적은?: 80
'B'의 성적은?: 90
'C'의 성적은?: 89
'D'의 성적은?: 77
--------------------------------------------------
아이돌 성적 결과:
--------------------------------------------------
'A의 성적은 80.0, 아이돌 성적 결과:수료'
'B의 성적은 90.0, 아이돌 성적 결과:수료'
'C의 성적은 89.0, 아이돌 성적 결과:수료'
'D의 성적은 77.0, 아이돌 성적 결과:미수료'

In [9]:
print(sorted(idols))
scores.sort()
print(scores)

['A', 'B', 'C', 'D']
[77.0, 80.0, 89.0, 90.0]

In [12]:
# 특정 위치에 요소 추가하기
idols= ['A','B','C','D']
idols.insert(2, 'A')
print(idols)

['A', 'B', 'A', 'C', 'D']

# 딕셔너리
값을 찾을 땐 키값을 알아야함.
키는 unique 해야함.
튜플은 요소 수정, 삭제가 안되지만 딕셔너리는 가능.

In [23]:
scores={'kor':70, 'eng': 89, 'math': 95, 'music': 100} # 딕셔너리 타입
print(type(scores))
print(scores)

# 키와 값을 출력하는 방법1

for key in scores:
    print('키: %s => 값: %d' % (key,scores[key]))
    # print(f'키:{key}=>값:{scores[key]:>3}')

# 키와 값을 출력하는 방법2
for key, value in scores.items():
    print(f'키: {key} => 값: {value:>2}')

<class 'dict'>
{'kor': 70, 'eng': 89, 'math': 95, 'music': 100}
키: kor => 값: 70
키: eng => 값: 89
키: math => 값: 95
키: music => 값: 100
키: kor => 값: 70
키: eng => 값: 89
키: math => 값: 95
키: music => 값: 100

In [19]:
scores={'kor':70, 'eng': 89, 'math': 95, 'music': 100} # 딕셔너리 타입
print(scores)
print(scores.keys()) # 딕셔너리에서 키만 출력
print(scores.values()) # 딕셔너리에서 값만 출력
print(scores.items()) # 딕셔너리에서 키,값이 튜플 형태로 출력

{'kor': 70, 'eng': 89, 'math': 95, 'music': 100}
dict_keys(['kor', 'eng', 'math', 'music'])
dict_values([70, 89, 95, 100])
dict_items([('kor', 70), ('eng', 89), ('math', 95), ('music', 100)])

In [34]:
scores={'kor':70, 'eng':89, 'math':95}
arts={'music':100, 'dance': 90}
scores.update(arts)
scores

{'kor': 70, 'eng': 89, 'math': 95, 'music': 100, 'dance': 90}

In [42]:
idlos = ['A', 'B', 'C', 'D']
scores={} # 빈 딕셔너리

for idol in idols:
    scores[idol]=int(input(f"'{idol}'의 성적은 "))
print(scores)

print(f'성적의 합계는: {sum(scores.values())} 평균:{sum(scores.values())/len(scores)}')

'A'의 성적은 980
'B'의 성적은 90
'A'의 성적은 70
'C'의 성적은 8
'D'의 성적은 8
{'A': 70, 'B': 90, 'C': 8, 'D': 8}
성적의 합계는: 176 평균:44.0

In [ ]:
# 내가 한 것
title='''
---선택메뉴---
1. 단어 등록
2. 단어 검색
3. 모든 단어 보기
0. 종료하기
-----------------------------
선택 '''
all_vocab={}
all_mean={}
a=int(input(title))
while True:
    if a==1:
        vocab=input('새 단어')
        input(f'{vocab}의 뜻: ')
        all_vocab.update(all_mean)

    if a==2:
        search_vocab=input('검색할 단어: ')
        print(f'{key}의 뜻은: {value}')

    if a==3:
        for i in

    else:
     break

In [55]:
# 정답
menu='''
---선택메뉴---
1. 단어 등록
2. 단어 검색
3. 모든 단어 보기
0. 종료하기
-----------------------------'''
wordbook={}
while True:
    select=input(menu+'\n 메뉴 선택: ')
    if select == '1':               # 1. 단어 등록
        word=input('등록할 새로운 단어: ')
        wordbook[word]=input(f'{word}의 뜻은: ')
    elif select == '2':               # 2. 단어 검색
        word=input('검색할 단어: ')
        if word in wordbook:   # if wordbook[word]: 단어장에 해당 언어가 있을 경우
            print(f'{word}의 뜻은 {wordbook[word]}')
        else:
            print('미등록 단어입니다.')
    elif select == '3':               # 3. 단어 보기
        for key, value in wordbook.items():
            print(f'{key}의 뜻은 {value}')
        if len(wordbook) == 0:
            print('등록된 단어가 없습니다.')
    elif select == '0':
        break

print('프로그램이 종료되었습니다.')

---선택메뉴---
1. 단어 등록
2. 단어 검색
3. 모든 단어 보기
0. 종료하기
-----------------------------
 메뉴 선택: 3
등록된 단어가 없습니다.

---선택메뉴---
1. 단어 등록
2. 단어 검색
3. 모든 단어 보기
0. 종료하기
-----------------------------
 메뉴 선택: 1
등록할 새로운 단어: a
a의 뜻은: 에이

---선택메뉴---
1. 단어 등록
2. 단어 검색
3. 모든 단어 보기
0. 종료하기
-----------------------------
 메뉴 선택: 2
검색할 단어: b
미등록 단어입니다.

---선택메뉴---
1. 단어 등록
2. 단어 검색
3. 모든 단어 보기
0. 종료하기
-----------------------------
 메뉴 선택: 1
등록할 새로운 단어: b
b의 뜻은: 비

---선택메뉴---
1. 단어 등록
2. 단어 검색
3. 모든 단어 보기
0. 종료하기
-----------------------------
 메뉴 선택: 3
a의 뜻은 에이
b의 뜻은 비

---선택메뉴---
1. 단어 등록
2. 단어 검색
3. 모든 단어 보기
0. 종료하기
-----------------------------
 메뉴 선택: 0
프로그램이 종료되었습니다.

# 집합

In [ ]:
딕셔너리와 중괄호 {} 형태는 같지만
딕셔너리는 키:값을 가지지만 집합은 값만 가짐

In [61]:
numList=[num for num in range(1,21) if num%3==0]
numList

[3, 6, 9, 12, 15, 18]

In [64]:
numList=[num**num for num in range(1,21) if num%3==0]
numList

[27,
 46656,
 387420489,
 8916100448256,
 437893890380859375,
 39346408075296537575424]

In [63]:
numbers=[]
for num in range(1,21):
    if num%3==0:
        numbers.append(num)
print(numbers)

[3, 6, 9, 12, 15, 18]

In [59]:
numList=[num*num for num in range(1,6)]
numList

[1, 4, 9, 16, 25]

In [ ]:
hap = lambda num1, num2 : num1+num2

재귀함수도 while True의 break처럼 끝나는 조건이 있어야한다 = return